
@*@{
    ViewBag.Title = "";
}*@

<script>
    $(document).ready(function () {
        GitSearch.GitHubSearch.Init();
    });
</script>

@*<h2>Index</h2>*@

<script src="~/MyScripts/main.js"></script>
<link href="~/Content/SearchBoxes.css" rel="stylesheet" />

    <div class="input-append">
        <input type="text" id="SearchTxt" class="input-medium search-query" placeholder="Search GitHub Repos" value="" style="margin: 10px;">
        <button type="button" id="SearchButton" class="add-on" @*onclick="GitSearch.GitHubSearch.Search()"*@><i class="icon-search">Go!</i></button>
    </div>




<div id="Result" class="Contributors"></div>
