/* this is the css for the result boxes
     you get when you search for a repo */

.RepoBox {
    float: left;
    min-width: 300px;
    border: 2px solid #555;
    border-radius: 5px;
    margin: 10px 1px 0 0;
    -webkit-box-shadow: 10px 10px 5px -8px rgba(143,143,143,1);
    -moz-box-shadow: 10px 10px 5px -8px rgba(143,143,143,1);
    box-shadow: 10px 10px 5px -8px rgba(143,143,143,1);
}

.RepoBox:hover{
    background-color: lightblue;
}

.RepoBox a{
    text-decoration: none;
}


.RepoBox img
{
    max-width:100px;
    float:left;

}

.RepoBox > div {
    float: left;
    padding: 5px;
}